<div id="for_people" name="for_people">
  <div class="container">
    <div class="row">
      </br>
      <h4 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.for_people') %></h4>

      <div class="col-md-6 text-justify">
        <div class="skills">
          <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft animated" style="visibility: visible;">
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="85" style="width: 85%;">
                <%= (t 'chart_people.c_1') %>
              </div>
            </li>
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="65" style="width: 65%;">
                <%= (t 'chart_people.c_2').html_safe %>
              </div>
            </li>
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="90" style="width: 90%;">
                <%= (t 'chart_people.c_3').html_safe %>
              </div>
            </li>
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="74" style="width: 60%;">
                <%= (t 'chart_people.c_4').html_safe %>
              </div>
            </li>
          </ul>
          <ul class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight animated" style="visibility: visible;">
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="23" style="width: 75%;">
                <%= (t 'chart_people.c_5').html_safe %>
              </div>
            </li>
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="95" style="width: 95%;">
                <%= (t 'chart_people.c_6').html_safe %>
              </div>
            </li>
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="70" style="width: 70%;">
                <%= (t 'chart_people.c_7').html_safe %>
              </div>
            </li>
            <li class="progress" style="opacity: 1; left: 0px;">
              <div class="progress-bar" data-width="90" style="width: 90%;">
                <%= (t 'chart_people.c_8').html_safe %>
              </div>
            </li>
          </ul>
        </div>
        <%= (t 'content.for_people_1').html_safe %></br>
        <%= (t 'content.for_people_2').html_safe %></br>
        <%= (t 'content.for_people_3').html_safe %>
      </div>
      <div class="col-md-6">
        <img alt="" src="/assets/imac_.png" style="width: 429px; height: 355px; z-index: 999;">
        <div style="width: 398px; height: 225px; margin-top: -340px;
                margin-left: 15px;">
          <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                    <%= image_tag("") %>
                <div class="carousel-caption">
                  <p><%= (t 'content.for_stores_slider_1') %></p>
                </div>
              </div>
              <div class="item">
                <%= image_tag("") %>
              </div>
              <div class="item">
                <%= image_tag("") %>
              </div>
            </div>
          </div>
        </div>
        <p align="center" style="padding-top: 120px; margin-left: -120px">
          <a class="btn btn-lg btn-success signup" href="https://saas.teleport-ds.com/signup" role="button" target="_blank"><%= (t 'main.get_started') %> <%= (t 'main.its_free') %></a>
        </p>
        <p style="text-align: center">
          <strong><%= (t 'content.what_you_can_do').html_safe %></strong>
        </p>
        <%= (t 'content.for_people_4').html_safe %>
        <%= (t 'content.and_many_other_things').html_safe %>
      </div>
    </div>
  </div>
  </br>
</div>