<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
<%= render 'static_pages/about_service' %>
</div>
<!--How it works-->
<!--<%= render 'static_pages/how_it_works' %>-->
<!--For stores-->
<%= render 'static_pages/for_stores' %>
<!--For delivery companies-->
<%= render 'static_pages/for_delivery_companies' %>
<!--For all-->
<!--<%= render 'static_pages/for_all' %>-->
<!--Contact us-->
<%= render 'static_pages/contacts' %>
<!--</br>
<div class="container" id="registration" name="registration">
  <div class="center jumbotron">
    <h1><%= (t 'all.do_you_want_to_work_with_us') %></h1>
    <%= link_to (I18n.t 'all.sign_up_now'), 'https://saas.teleport-ds.com/signup', :target => "_blank",
                class: "btn btn-large btn-primary" %>
  </div>
</div>-->