<%= render 'static_pages/main' %>
<div class="container">
<!--About service-->
<%= render 'static_pages/for_people' %>
  <%= render 'static_pages/for_doctors' %>
  <%= render 'static_pages/for_clinics' %>
</div>
<!--Contact us-->
<%= render 'static_pages/contacts' %>