<div class="pages page-blog-list" id="page-blog-list">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider" id="blog" name="blog" style="text-align: center"><%= (t 'menu.blog') %></h4>
    </header>
    <!-- End Header -->

    <div class="row-fluid">
      <div class="col-md-8">
        <!-- Article -->
        <%= will_paginate %>
        <% @blogs.each do |blog| %>
        <article>
          <!-- Blog title -->
          <h4 style="border-bottom: 1px solid #bbb; padding: 13.5px 0;" id="blog_<%= blog.title %>" name="blog_<%= blog.title %>">
            <%= blog.title %></h4>
            <div class="row">
              <h4><div class="col-md-8"><small><%= (t 'blog.created_at') %> <%= blog.created_at.strftime("%d/%m/%Y - %H:%M:%S") %></small></div></h4>
              <div class="col-md-4" style="text-align: right">
                <% case blog.content_type %>
                <% when "news" %>
                    <span class="label label-primary"><%= (t 'blog.news') %></span>
                <% when "saas" %>
                    <span class="label label-warning"><%= (t 'blog.teleport_saas_system') %></span>
                <% when "specials" %>
                    <span class="label label-success"><%= (t 'blog.specials') %></span>
                <% when "companies_news" %>
                    <span class="label label-info"><%= (t 'blog.companies_news') %></span>
                <% else %>
                    <span class="label label-default"><%= (t 'blog.all') %></span>
                <% end %>
              </div>
            </div>

        <p style="text-align: justify"><%= blog.content %></p>

          <% if blog.picture_file_name.nil? || blog.picture_file_name.blank? %>
          <% else %>
              <p style="text-align: center"><%= image_tag blog.picture.url(:large) %></p>
          <% end %>
          </br>
        </article>
            <% if current_user.try(:admin?) %>
        <td><%= link_to 'Show', blog, class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
            <% else %>
            <% end %>
            <% end %>
        <%= will_paginate %>

      </div>
      <div class="col-md-4">
        <!--Latest news-->
        <div class="block">
          <h4 style="border-bottom: 1px solid #bbb; padding: 13.5px 0;"><%= (t 'blog.latest_news') %></h4>
          <nav class="submenu">
            <ul class="list-unstyled">
              <% @blogs.order("created_at desc").first(5).each do |blog| %>
              <li>
                <%= link_to ("#blog_" + blog.title) do %>
                    <h5><%= blog.title %></h5>
                <% end %>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>
        <!-- Tags -->
        <div class="block">
          <h4 style="border-bottom: 1px solid #bbb; padding: 13.5px 0;"><%= (t 'blog.categories') %></h4>
          <nav class="submenu">
            <ul class="list-unstyled">
              <li>
                  <%= link_to (blogs_path + "#blog") do %>
                    <span class="label label-default"><%= (t 'blog.all') %></span>
                  <% end %>
              </li>
              <li>
                <%= link_to (blogs_content_type_path("news")) do %>
                    <span class="label label-primary"><%= (t 'blog.news') %></span>
                <% end %>
              </li>
              <li>
                <%= link_to (blogs_content_type_path("specials")) do %>
                    <span class="label label-success"><%= (t 'blog.specials') %></span>
                <% end %>
              </li>
              <li>
                <%= link_to (blogs_content_type_path("saas")) do %>
                    <span class="label label-warning"><%= (t 'blog.teleport_saas_system') %></span>
                <% end %>
              </li>
              <li>
                <%= link_to (blogs_content_type_path("companies_news")) do %>
                    <span class="label label-info"><%= (t 'blog.companies_news') %></span>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
        <!-- Tags -->
        <div class="block">
          <h4 style="border-bottom: 1px solid #bbb; padding: 13.5px 0;"><%= (t 'contact.get_social') %></h4>
          <nav class="submenu">
            <ul class="list-unstyled list-inline">
              <li>
                <a href="https://www.facebook.com/teleportds" target="_blank" class="sicon-facebook"><img alt="" src="/assets/facebook-black@2x.png" style="width: 32px; height: 32px;"></a>
              </li>
              <li>
                <a href="https://plus.google.com/u/0/b/109901919652597210169/+Teleport-ds/posts" target="_blank" class="sicon-youtube"><img alt="" src="/assets/google-plus-black@2x.png" style="width: 32px; height: 32px;"></a>
              </li>
              <li>
                <a href="https://twitter.com/TeleportDS" target="_blank" class="sicon-twitter"><img alt="" src="/assets/twitter-black@2x.png" style="width: 32px; height: 32px;"></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/company/teleport" target="_blank" class="sicon-linkedin"><img alt="" src="/assets/linkedin-black@2x.png" style="width: 32px; height: 32px;"></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>