<% provide(:title, 'For delivery companies') %>

<div style="background: #ffffff;" id="for_delivery_companies" name="for_delivery_companies">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center"><%= (t 'menu.for_delivery_companies') %></h4>
      <div class="col-md-12 text-justify">
        <%= (t 'content.for_delivery_companies_1').html_safe %>
        <h4 style="text-align: center;"><%= (t 'content.for_delivery_companies_2') %></h4>
        <ul style="text-align: justify;">
          <%= (t 'content.for_delivery_companies_3').html_safe %>
        </ul>
        <h4 style="text-align: center;"><%= (t 'content.for_delivery_companies_4') %></h4>
        <%= (t 'content.for_delivery_companies_5') %>
      </div>
    </div>
  </div>
  </br>
</div>