<% provide(:title, 'How it works?') %>
<div style="background: #ededed;" id="how_it_works" name="how_it_works">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center"><%= (t 'menu.how_it_works') %></h4>

      <div class="col-md-12">
        <div class="vertical-align text-justify">
          <%= (t 'content.how_it_works_1') %>
          <%= (t 'content.how_it_works_2').html_safe %>
        </div>
      </div>
      <!--<div class="col-md-12">
        <p dir="ltr"><strong><%= (t 'content.how_it_works_3') %></strong></p>
        <%= (t 'content.how_it_works_4').html_safe %>
      </div>-->
    </div>
  </div>
</div>