<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag 'teleport_16_16_0.png' %>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myCarousel").carousel({
                interval : 5000,
                pause: false
            });
        });
    </script>
    <!--Google Analytics-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39163702-1']);
        _gaq.push(['_setDomainName', 'teleport-ds.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!--Google Analytics-->
    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= javascript_include_tag "google_maps" %>
    <!-- Google maps -->
    <%= javascript_include_tag "highcharts" %>
  </head>
  <body onload="initialize(), setMarkers()">
    <%= render 'layouts/header' %>
    <%= content = yield %>
    <!--Back To Top Button-->
    <% if content.length > 1200 %>
      <%= link_to("#top") do %>
          <div id="backtotop" style="display: block;">
          </div>
      <% end %>
  <% end %>
  <% if current_user.try(:admin?) %>
      <%= render 'layouts/admin' %>
  <% else %>
  <% end %>
      <div class="container">
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      </div>

  <!-- Код тега ремаркетинга Google -->
  <!--------------------------------------------------
  С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
  --------------------------------------------------->
  <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 958212778;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958212778/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
  <!-- Код тега ремаркетинга Google -->
  </body>
</html>